[submodule "vendor/FastANI"]
	path = vendor/FastANI
	url = https://github.com/ParBLiSS/FastANI
[submodule "vendor/cpu_features"]
	path = vendor/cpu_features
	url = https://github.com/google/cpu_features/
[submodule "vendor/boost-math"]
	path = vendor/boost-math
	url = https://github.com/boostorg/math
