# metadata files
include CHANGELOG.md
include CONTRIBUTING.md
include COPYING
include README.md
include setup.cfg
include setup.py
include pyproject.toml

# vendored sources
include vendor/FastANI/bootstrap.sh
include vendor/FastANI/configure.ac
include vendor/FastANI/INSTALL.txt
include vendor/FastANI/LICENSE
include vendor/FastANI/Makefile.in
include vendor/FastANI/README.md
recursive-include vendor/FastANI/src *.h *.hpp *.md

include vendor/cpu_features/LICENSE
include vendor/cpu_features/README.md
include vendor/cpu_features/CONTRIBUTING.md
include vendor/cpu_features/CMakeLists.txt
recursive-include vendor/cpu_features/cmake   *
recursive-include vendor/cpu_features/src     *.h *.c
recursive-include vendor/cpu_features/include *.h

include vendor/boost-math/LICENSE
include vendor/boost-math/README.md
include vendor/boost-math/CMakeLists.txt
recursive-include vendor/boost-math/include         *.hpp *.ipp
recursive-include vendor/boost-math/include_private *.hpp *.ipp

# Cython headers
recursive-include include   *.pxd

# Cython sources
recursive-include pyfastani *.pyx *.pxd *.h *.c *.py *pyi *.cpp *.hpp
include pyfastani/py.typed
exclude pyfastani/_fastani.cpp
exclude pyfastani/_fasta.c

# Test files
include pyfastani/tests/requirements.txt
recursive-include pyfastani/tests/data/ *.fna *.faa *.py
